{
  description = "{{PROJECT_NAME}} local dev shell";

  inputs = {
    nixpkgs.url = "github:NixOS/nixpkgs/{{NIXPKGS}}";
    flake-utils.url = "github:numtide/flake-utils";
  };

  outputs = { nixpkgs, flake-utils, ... }:
    flake-utils.lib.eachDefaultSystem (system:
      let
        pkgs = import nixpkgs {
          inherit system;{{NIXPKGS_CONFIG}}
        };
      in
      {
        devShells.default = pkgs.mkShell {
          packages = [
{{PACKAGES}}
          ];

          shellHook = ''
            export PATH="$PWD/.flake.local/bin:$PATH"{{PLAYWRIGHT_ENV}}
          '';
        };
      });
}
